:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --foreground-rgb: 0, 0, 0;  
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;    
    --background:#222;   
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;  
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.form_wrapper{
  height: 100vh;
  width: 100vw;
text-align: center;
}

.form{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.form label{
  font-size: 1.5rem;
  font-family: var(--font-mono);
}

.form input{
  width: 100px;
  height: 35px;
  background: #fff;
  border: none;
  border-radius: 20px;
  margin: 0 1rem;
  color: #222;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(255,255,255,0.3);
}

.form input[type="number"]:focus-visible{
  box-shadow: inset 0px 0px 6px rgba(0,0,0,0.7);
}

.btn{
  background: #0c66ab;
  width: 150px;
  height: 45px;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: 1rem;
  transition: all 0.3s ease-out;
}

.btn:hover{
  background: #07416d;  
}

.resultado,.error{
  margin-top: 2rem;
  font-size: 17px;
  font-family: var(--font-mono);
  font-weight: bold;
}

.error{
  color: rgb(180, 18, 18);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  height: 1.8em;
  margin-right: 9px;  
  margin-left: -20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-moz-inner-spin-button,
input[type=number]::-moz-outer-spin-button {
  color: #FF0000; /* Cambia el color de las flechas */
}


.remove_btn{
  display: block;  
  background: rgb(235, 235, 235);
  color: #222;
  padding: 5px 10px;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 1rem auto;
  transition: all 0.3s ease-out;
}

.remove_btn:hover{
  background: #222;
  color: #fff;
}